extends layout
block content
  block append head
    link(rel='stylesheet', href='/css/index.css')
  include header.pug
  include notificationbar.pug
  .index-col1
    h1 index column 1
  .index-col2
    h1 index column 2
  include footer.pug
