extends layout
block content
  block append head
    link(rel='stylesheet', href='/css/index.css')
  include includes/header.pug
  include includes/notificationbar.pug
  .index-col1
  .index-col2
    include includes/LoginRegForm.pug
  include includes/footer.pug
