extends layout
block content
  block append head
    link(rel='stylesheet', href='/css/index.css')
  include includes/header.pug
  include includes/notificationbar.pug
  h1 Profile page
  include includes/footer.pug
