.footerwrapper {
  margin-top:0;
	width:960px;
	height:20%;
	margin-left:auto;
	margin-right:auto;
}

.footer{
  margin-top:-5px;
  height:20%;
width:100%;
background-color:black;

}

.footer h1{
  color:white;
  margin:0;
}
