html, body{
    height:100%;
		background-color:whitesmoke;
}
.indexwrapper {

	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.index-col1{
  width:33%;
  height:75%;
  display:inline-block;
  background-color:aliceblue;

}
.index-col2{
 left:33%;
  width:67%;
  height:75%;
  display:inline-block;
  float:right;
  background-color:aliceblue;

}
h1{
  margin:0;
}

.loginRegForm{
  width: 400px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border: thin solid black;
}
