html, body{
    height:100%;
		background-color:whitesmoke;
}
.indexwrapper {

	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.index-col1{
  width:33%;
  height:75%;
  display:inline-block;
  background-color:red;

}
.index-col2{
 left:33%;
  width:67%;
  height:75%;
  display:inline-block;
  background-color:purple;

}
h1{
  margin:0;
}
