html, body{
    height:100%;
		background-color:whitesmoke;
}
.postwrapper {

	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.post {
	text-align:center;
	background-color:aliceblue;
	border:thick solid black;
	display: inline-block;
}
.post-col1{
margin-top:7%;
float:left;
width:25%;
display:inline-block;
}
.post-col2{
width:60%;
display:inline-block;
}
.post-col1 img{
	max-height:80%;
	max-width:80%;
	border-radius:50%;
	border:thick solid black;
	}
